{% extends 'base.html' %}

{% block content %}

<h1>Edit Fruit</h1>
<form action="/fruits/{{ fruit['id'] }}" method="POST">

  <label for="">Name:</label>
  <input type="text" name="name" value="{{ fruit['name'] }}">

  <label for="">Image URL:</label>
  <input type="text" name="image_url" value="{{ fruit['image_url'] }}">

	<label for="">Sugar:</label>
  <input type="text" name="sugar" value="{{ fruit['sugar'] }}">

	<label for="">Calories:</label>
  <input type="text" name="calories" value="{{ fruit['calories'] }}">

	<label for="">Carbohydrates:</label>
  <input type="text" name="carbohydrates" value="{{ fruit['carbohydrates'] }}">

  <button>Update Fruit</button>

{% endblock %}