{% extends 'base.html' %}

{% block content %}

<h1>Fruits App</h1>
<a href="/fruits/new">Add your favorate fruit</a>

<section class="fruits">

	{% for fruit in fruits: %}
  {% set id, name, image_url, sugar, calories, carbohydrates = fruit %}

	<section class="fruit">
		<header>
			<h2>{{ name }}</h2>
			<section class="controls">
				<a href="/fruits/{{ id }}/edit">Edit</a>
			</section>
		</header>

		<img src="{{ image_url }}" alt="">
		<h3>Sugar: {{ sugar }}</h3>
		<h3>Calories: {{ calories }}</h3>
		<h3>Carbohydrates: {{ carbohydrates }}</h3>
	</section>
	{% endfor %}
</section>
{% endblock %}