<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Add Fruit</h1>
	<form action="/fruits" method="POST">
    <label for="">Name:</label>
    <input type="text" name="name">

    <label for="">Image URL:</label>
    <input type="text" name="image_url">

		<label for="">Sugar:</label>
		<input type="text" name="sugar">
	
		<label for="">Calories:</label>
		<input type="text" name="calories">
	
		<label for="">Carbohydrates:</label>
		<input type="text" name="carbohydrates">

    <button>Add Fruit</button>
  </form>
</body>
</html>