{% extends 'base.html' %}

{% block content %}
<h1>Add your favorate fruit</h1>
<section>

</section class="add">
<form action="/fruits" method="POST">
	<label for="">Name:</label>
	<input type="text" name="name">
	
	<label for="">Image URL:</label>
	<input type="text" name="image_url">

	<label for="">Sugar:</label>
	<input type="text" name="sugar">

	<label for="">Calories:</label>
	<input type="text" name="calories">

	<label for="">Carbohydrates:</label>
	<input type="text" name="carbohydrates">
	<br>
	<button>Add</button>
</form>
{% endblock %}