{% extends 'base.html' %}

{% block content %}
<h1>Sign up</h1>
<form action="/users" method="POST">
  <label for="">First Name:</label>
  <input type="text" name="first_name" placeholder="Jane">

  <label for="">Last Name:</label>
  <input type="text" name="last_name" placeholder="Doe">

  <label for="">Email:</label>
  <input type="text" name="email" placeholder="jane.doe@gmail.com">

  <label for="">Password:</label>
  <input type="password" name="password">
  <br>
  <button>Sign up</button>
</form>
{% endblock %}